:root {
    --color-primary-1: #26325b;
    --color-primary-2: #f4971a;
    --color-primary-3: #22aa9f;
    --color-secondary-1: #f5d49c;
    --color-secondary-2: #aeb34b;
    --color-secondary-3: #785a9e;
    --color-grey-1: #d7d8df;
    --color-grey-2: #9c9ea2;
    --color-grey-3: #646465;
    --color-error: #f65244;
    --color-process-1: #75b3df;
    --color-process-2: #478fc2;
    --font-primary:"DM Sans", sans-serif;
}
body{
    font-family: var(--font-primary);
    color: var(--color-primary-1);
}
button{
    font-family: var(--font-primary);
    cursor: pointer;
}
.bg-color-primary{
    background-color: var(--color-primary-1);
}
.bg-color-primary2{
    background-color: var(--color-primary-2);
}
.bg-color-primary3{
    background-color: var(--color-primary-3);
}
.bg-color-secondary{
    background-color: var(--color-secondary-1);
}
.bg-color-secondary2{
    background-color: var(--color-secondary-2);
}
.bg-color-secondary3{
    background-color: var(--color-secondary-3);
}
.bg-error{
    background-color: var(--color-error);
}
.bg-process{
    background-color: var(--color-process-2);
}
.bg-success-50{
    background-color: #22aa9f89;
    color: var(--color-primary-1);
}
.bg-primary2-70{
    background-color: #f4961ae9;
}
.color-primary{
    color:var(--color-primary-1)
}
nav button, nav a{
    color:#fff;
}
nav button.active, nav a.active{
    color: var(--color-secondary-1);
}
.btn-color-primary-2{
    background-color: var(--color-primary-3);
    text-transform: uppercase;
    font-size: 1.2em;
    transition: 1s;
}
.btn-color-primary-2:hover{
    background-color: #176171;
}
.border-primary{
    border: 2px solid var(--color-primary-1);
}
.border-primary3{
    border: 2px solid var(--color-primary-3);
}
.border-primary2-200{
    border: 2px solid var(--color-primary-2);
} 
.border-file-input{
    border: 2px dashed;
}
.circle-type{
    width: 70px;
    height: 70px;
    background-color: var(--color-primary-2);
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0.5em;
}
.border-success{
    border: 3px solid var(--color-primary-3);
}

.logo{
    max-width: 300px;
    margin: auto;
}
.new-rounded{
    border-radius: 1em;
}
.stroke-primary-3{
    stroke: var(--color-primary-3);
}
.stroke-error{
    stroke: var(--color-error);
}
.stroke-process-2{
    stroke: var(--color-process-2);
}
/*--INTRO--*/
.lang{
    font-weight: 600;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0.5em;
    background-color: var(--color-grey-1);
}
.features .text-base{
    line-height: 1.1em;
    font-size: 1em!important;
}
/*--FOOTER--*/
footer h4{
    font-weight: 500;
    font-size: 1.1em;
}
.logo-footer1{
    max-width: 100px;
}
.logo-footer2{
    margin-top: 1em;
    max-width: 150px;
}
.logo-footer4{
    max-width: 400px;
}